.container_libraryPage{
    padding: 1rem 0.7rem;
    color: aliceblue;
    border-bottom: 1px solid grey;
}
.title_container_LibraryPage{
    margin: 0.5rem 4rem;
}
.title_container_LibraryPage b{
  margin: auto 0.5rem;
  padding: auto 0.5rem;
  font-size: medium;
}
.container_videoList_LibraryPage{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    margin: 0;
    max-height: 80vh;
}